<div class="col-lg-9 col-md-8">

    <!-- About Me -->
    {% include widgets/profile_card_bio_only.html %}

    <!-- Latest News -->
    {% include widgets/latest_news.html %}

    <!-- Selected Publications -->
    {% if site.data.display.homepage.show_selected_publications %}
        {% assign pubs = site.publications
            | sort: "date"
            | reverse
            | where: "selected", true
        %}

        {% include widgets/publication_card.html
            publications=pubs
            title='<i class="fas fa-star"></i> Selected Publications'
        %}
    {% endif %}

</div>
